<div class="jumbotron">
    <h1>Bogor Sehat</h1>
    <p class="lead">Aplikasi “Bogor Sehat” secara garis besar akan mengakomodir kebutuhan masyarakat dalam mendapatkan layanan kesehatan seperti pencarian rumah sakit, pendaftaran layanan kesehatan serta konsultasi online khususnya bagi masyarakat yang tinggal di wilayah Kota Bogor. Aplikasi dibuat dalam versi smartphone.
</p>
</div>
