<!--
  Generated template for the ListHospitalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>List Rumah Sakit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content fullscreen>
  <div class="div-custom">
    <ion-card>
      <ion-row>
        <ion-col style="padding: 0;">
          <div class="box">
            <div class="ribbon ribbon-top-left">
              <span>Show Details</span>
            </div>

            <!-- <img *ngIf="attrac.attractions.ImageUrl != null ;else other_content" src="{{baseUrl+attrac.attractions.ImageUrl}}" class="img-custom"
              />
              <ng-template #other_content>
                <img src="assets/img/gwk-bali.jpg" class="cover" />
              </ng-template> -->
            <img src="http://kotabogor.go.id/uploads/post/rsud213.jpg" class="cover" />
          </div>
        </ion-col>
      </ion-row>
      <ion-card-content>
        <h2>Nama</h2>
        <h4 style="color:#3498db;">Type</h4>
        <h4>Desc</h4>
      </ion-card-content>
      <ion-row class="row-label">
        <ion-col col-4>
          <button ion-button icon-left clear small>
            <ion-icon ios="ios-time" md="md-time" class="custom-color"></ion-icon>
            <h3>Duration</h3>
          </button>
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
      <ion-row class="row-label">
        <ion-col col-4>
          <button ion-button icon-left clear small>
            <ion-icon ios="ios-pin" md="md-pin" class="custom-color"></ion-icon>
            <h3>Addres</h3>
          </button>
        </ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4-custom>
          <button ion-button icon-left secondary [outline]="true" class="custom-button-pick"  (click)="gotoService()">
            <div style="font-size: 3.5vw;">Select</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col style="padding: 0;">
          <div class="box">
            <div class="ribbon ribbon-top-left">
              <span>Show Details</span>
            </div>

            <!-- <img *ngIf="attrac.attractions.ImageUrl != null ;else other_content" src="{{baseUrl+attrac.attractions.ImageUrl}}" class="img-custom"
                />
                <ng-template #other_content>
                  <img src="assets/img/gwk-bali.jpg" class="cover" />
                </ng-template> -->
            <img src="http://kotabogor.go.id/uploads/post/rsud213.jpg" class="cover" />
          </div>
        </ion-col>
      </ion-row>
      <ion-card-content>
        <h2>Nama</h2>
        <h4 style="color:#3498db;">Type</h4>
        <h4>Desc</h4>
      </ion-card-content>
      <ion-row class="row-label">
        <ion-col col-4>
          <button ion-button icon-left clear small>
            <ion-icon ios="ios-time" md="md-time" class="custom-color"></ion-icon>
            <h3>Duration</h3>
          </button>
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
      <ion-row class="row-label">
        <ion-col col-4>
          <button ion-button icon-left clear small>
            <ion-icon ios="ios-pin" md="md-pin" class="custom-color"></ion-icon>
            <h3>Addres</h3>
          </button>
        </ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4-custom>
          <button ion-button icon-left secondary [outline]="true" class="custom-button-pick">
            <div style="font-size: 3.5vw;">Select</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row>
        <ion-col style="padding: 0;">
          <div class="box">
            <div class="ribbon ribbon-top-left">
              <span>Show Details</span>
            </div>

            <!-- <img *ngIf="attrac.attractions.ImageUrl != null ;else other_content" src="{{baseUrl+attrac.attractions.ImageUrl}}" class="img-custom"
                />
                <ng-template #other_content>
                  <img src="assets/img/gwk-bali.jpg" class="cover" />
                </ng-template> -->
            <img src="http://kotabogor.go.id/uploads/post/rsud213.jpg" class="cover" />
          </div>
        </ion-col>
      </ion-row>
      <ion-card-content>
        <h2>Nama</h2>
        <h4 style="color:#3498db;">Type</h4>
        <h4>Desc</h4>
      </ion-card-content>
      <ion-row class="row-label">
        <ion-col col-4>
          <button ion-button icon-left clear small>
            <ion-icon ios="ios-time" md="md-time" class="custom-color"></ion-icon>
            <h3>Duration</h3>
          </button>
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
      <ion-row class="row-label">
        <ion-col col-4>
          <button ion-button icon-left clear small>
            <ion-icon ios="ios-pin" md="md-pin" class="custom-color"></ion-icon>
            <h3>Addres</h3>
          </button>
        </ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4-custom>
          <button ion-button icon-left secondary [outline]="true" class="custom-button-pick">
            <div style="font-size: 3.5vw;">Select</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>
</ion-content>